.div-home-request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b;
}
.form-recovery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .form-recovery h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #3F3D56;
  }
  
  .form-recovery input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #3F3D56;
    font-size: 1rem;
  }
  
  .form-recovery input::placeholder {
    text-align: center;
  }
  
  .form-recovery button {
    background-color: #9624c4;
    color: #FFFFFF;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form-recovery button:hover {
    background-color: #91275c;
  }
  
  .form-recovery button:active {
    transform: translateY(2px);
  }
  
  .form-recovery button:focus {
    outline: none;
  }
  